:root {
  --button-background-color-hover: rgba(255, 255, 255, 0.4) !important;
  --button-background-color-active: rgba(255, 255, 255, 0.5) !important;

  /* Buttons inside url bar hover and active */
  --urlbar-box-hover-bgcolor: rgba(255, 255, 255, 0.4);
  --urlbar-box-active-bgcolor: rgba(255, 255, 255, 0.5);

  /* Make dark and light the same */
  --tab-selected-bgcolor: rgba(255, 255, 255, 0.2) !important;
  --tab-selected-textcolor: rgb(255, 255, 255) !important;
  --toolbarbutton-icon-fill: rgb(251, 251, 254) !important;

  --toolbar-field-color: rgb(
    251,
    251,
    254
  ) !important; /* url bar text/icon color */

  /* Make buttons inside urlbar rounded */
  --urlbar-icon-border-radius: 16px !important;
}

html {
  background: light-dark(
    rgba(0, 0, 0, 0.35),
    rgba(255, 255, 255, 0.35)
  ) !important;
}

/* Tab modifications */

#tabbrowser-tabs {
  margin-right: 20px;
}

.tabbrowser-tab {
  transition: 0.15s !important;
  color: white !important;
  color-scheme: dark !important;
  /* max-width: 100% !important; */
  margin: 0.25em;
}

.tabbrowser-tab:first-of-type {
  margin-left: 6px !important;
}

.tab-background {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50px;
  outline: none !important;
  outline-offset: 0 !important;
  box-shadow: none !important;
}

.tabbrowser-tab {
  &:hover{
    scale: 1.05;
  }
  &:active{
    scale: 0.95;
  }
}

/* Tab close border radius */

@media not (forced-colors) {
  .close-icon:hover {
    border-radius: var(--urlbar-icon-border-radius) !important;
  }
}

/* Placeholder text white */
#urlbar-input::placeholder {
  color: white !important;
}

/* Remove border around top section */
#navigator-toolbox {
  border-top: none !important;
}

/* Make navbar transparent */
.browser-toolbar {
  &:not(.titlebar-color) {
    background-color: transparent !important;
    border: none !important;
  }
}

/* Left margin fix for navbar customizable target */
#nav-bar-customization-target {
  & > :is(toolbarbutton, toolbaritem):first-child,
  & > toolbarpaletteitem:first-child > :is(toolbarbutton, toolbaritem) {
    padding-inline-start: 0 !important;
    margin-left: var(--toolbar-start-end-padding) !important;
  }
}

/* Rounded buttons for navbar */

#nav-bar > #nav-bar-customization-target toolbarbutton,
#nav-bar > toolbaritem > toolbarbutton {
  border-radius: 20px;
  overflow: hidden;
  padding: 0 !important;
  margin: auto calc(var(--toolbarbutton-outer-padding) * 2);
}

/* navbar button customization */

#nav-bar > #nav-bar-customization-target > toolbarbutton[disabled] {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

#nav-bar > #nav-bar-customization-target > toolbarbutton:not([disabled]),
#nav-bar toolbaritem:not(#urlbar-container) {
  transition: 0.15s !important;
}

#nav-bar > #nav-bar-customization-target > toolbarbutton:not([disabled]),
#nav-bar toolbaritem > toolbarbutton {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

#nav-bar > #nav-bar-customization-target > toolbarbutton:hover:not([disabled]),
#nav-bar toolbaritem:not(#urlbar-container):hover {
  scale: 1.1;
}

#nav-bar > #nav-bar-customization-target > toolbarbutton:active:not([disabled]),
#nav-bar toolbaritem:not(#urlbar-container):active {
  scale: 0.9;
}

/* url bar background */

#urlbar-background {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    rgba(0, 0, 0, 0.3) !important;
  background-blend-mode: luminosity, color-burn;
  box-shadow: 0 -0.5px 1px 0 rgba(255, 255, 255, 0.3) inset,
    0 -0.5px 1px 0 rgba(255, 255, 255, 0.25) inset,
    1px 1.5px 4px 0 rgba(0, 0, 0, 0.08) inset,
    1px 1.5px 4px 0 rgba(0, 0, 0, 0.1) inset !important;
}

#urlbar-background,
#searchbar {
  border-radius: calc(var(--urlbar-height) / 2);
  border: none !important;
}

/* Url bar height adjust */

#urlbar-container{
  --urlbar-container-height: 45px !important;
}

#urlbar{
  --urlbar-height: 37px !important;
}

/* Buttons inside url bar */

.urlbar-input-container {
  align-items: center;
  padding: 0 5px !important;
  --urlbar-container-height: 45px !important;
}

.identity-box-button, .urlbar-input-container > box{
  transition: 0.15s !important;
  outline: none !important;
}

.sharing-icon, #permissions-granted-icon, #tracking-protection-icon, #blocked-permissions-container > .blocked-permission-icon,
.urlbar-input-container > box:not(#identity-box) > box,
.urlbar-input-container > box > box > image  {
  width: 14px !important;
  height: 14px !important;
}

/* find icons inside url that are not the privacy icon nor invisible */

.urlbar-input-container > box:not(#identity-box):has(> box):not([collapsed="true"]) {
    padding-inline: 0 !important;
    opacity: 0.6 !important;
    padding: 5px !important;
    margin: 0 2.5px !important;

  &:hover{
    scale: 1.1;
  }
  &:active{
    scale: 0.9;
  }
}

#identity-box {
  margin: 0 2.5px !important;
  align-items: center;

  & > .identity-box-button{
    height: 100%;

    padding-inline: 0 !important;
    padding: 5px !important;
  }

  &:hover{
    scale: 1.025;
  }
  &:active{
    scale: 0.975;
  }

  /* Check if it is just normal privacy icon on webpage */

  &:has(> box > label[collapsed="true"]){
    opacity: 0.6 !important;

    &:hover{
      scale: 1.1;
    }

    &:active{
      scale: 0.9;
    }
  }
}

.urlbar-input-box{
  margin: 0 2.5px !important;
}

/* Right margin fix for navbar menu button */

#PanelUI-menu-button {
  padding-inline-end: 0 !important;
  margin-right: var(--toolbar-start-end-padding) !important;
}
