#nav-bar-customization-target {
  & > :is(toolbarbutton, toolbaritem):first-child,
  & > toolbarpaletteitem:first-child > :is(toolbarbutton, toolbaritem) {
    padding-inline-start: 0 !important;
    margin-left: var(--toolbar-start-end-padding) !important;
  }
}

#nav-bar toolbarbutton,
#nav-bar toolbaritem > toolbarbutton {
  border-radius: 20px;
  overflow: hidden;
  padding: 0 !important;
  margin: auto var(--toolbarbutton-outer-padding);
}

#PanelUI-menu-button {
  padding-inline-end: 0 !important;
  margin-right: var(--toolbar-start-end-padding) !important;
}
